<div class="modal-content">
  <form name="vm.changePasswordForm" novalidate>
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
      <h4 class="modal-title" id="changePasswordLabel">Change Password</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group"
               ng-class="{'has-error': vm.changePasswordForm.currentPassword.$invalid && (vm.changePasswordForm.currentPassword.$dirty || vm.changePasswordForm.$submitted)}">
            <label for="userCurrentPassword">Current Password</label>
            <input id="userCurrentPassword" name="currentPassword" type="password" class="form-control" ng-required="true"
                   placeholder="Current Password" ng-model="vm.modalUser.currentPassword">
            </input>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group"
               ng-class="{'has-error': (vm.changePasswordForm.newPassword.$invalid || vm.modalUser.newPassword !== vm.modalUser.confirmPassword) && (vm.changePasswordForm.newPassword.$dirty || vm.changePasswordForm.$submitted)}">
            <label for="userNewPassword">New Password</label>
            <input id="userNewPassword" name="newPassword" type="password" class="form-control" ng-required="true"
                   placeholder="New Password" ng-model="vm.modalUser.newPassword">
            </input>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group"
               ng-class="{'has-error': (vm.changePasswordForm.confirmPassword.$invalid || vm.modalUser.newPassword !== vm.modalUser.confirmPassword) && (vm.changePasswordForm.confirmPassword.$dirty || vm.changePasswordForm.$submitted)}">
            <label for="userConfirmPassword">Confirm Password</label>
            <input id="userConfirmPassword" name="confirmPassword" type="password" class="form-control" ng-required="true"
                   placeholder="Confirm Password" ng-model="vm.modalUser.confirmPassword">
            </input>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
      <button type="submit" class="btn btn-primary" ng-click="vm.updateUserPassword(vm.changePasswordForm.$valid)">Save</button>
    </div>
  </form>
</div>