# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: ECS API
  description: ECS mobiel app API
  version: "1.0.0"
# the domain of the service
host: process.env.BASE_URL
# array of all schemes that your API supports
schemes:
  - http
# will be prefixed to all paths
basePath: /
resourcePath: /Users
description: All about users API
apis:

- path: /validateEmail
  operations:
  - httpMethod: POST
    summary: Validate email and get authorized url
    notes: Returns a user based on email
    nickname: validate email
    consumes:
      - application/json
    parameters:

    - name: email
      dataType: string
      paramType: formData
      required: true
      description: Your username

- path: /login
  operations:
  - httpMethod: POST
    summary: Login with email and password
    notes: Returns a user based on email
    nickname: login
    consumes:
      - application/json
    parameters:
    - name: email
      dataType: string
      paramType: formData
      required: true
      description: Your username

    - name: code
      dataType: string
      paramType: formData
      required: true
      description: Code given by authorized endpoint

    - name: state
      dataType: string
      paramType: formData
      required: true
      description: state from authorized url

- path: /signup
  operations:
  - httpMethod: POST
    summary: Registers a user
    notes: Registers and returns a user after successful registrations
    nickname: signup
    consumes:
      - application/json
    parameters:
    - name: email
      dataType: string
      paramType: formData
      required: true
      description: Your email

    - name: password
      dataType: string
      paramType: formData
      required: true
      description: Your password

    - name: firstName
      dataType: string
      paramType: formData
      required: false
      description: Your first name

    - name: lastName
      dataType: string
      paramType: formData
      required: false
      description: Your last name

- path: /getAllUsers
  operations:
  - httpMethod: GET
    summary: Get all users
    notes: Fetch all registered users
    nickname: getAllUsers
    consume:
      - application/json
    parameters:
      - name: Authorization
        dataType: string
        paramType: header
        required: true
        description: authorization token