<div class="modal-content">
    <form name="vm.createIssuerForm" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title" id="createIssuerLabel">Create Issuer</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"
                         ng-class="{'has-error': vm.createIssuerForm.issuerOrganization.$invalid && (vm.createIssuerForm.issuerOrganization.$dirty || vm.createIssuerForm.$submitted)}">
                        <label for="issuerOrganization">Organization</label>
                        <select id="issuerOrganization" name="issuerOrganization" class="form-control"
                                title="Organization Select" data-style="btn-primary"
                                ng-model="vm.modalIssuer.organization"
                                ng-options="o.dn as o.displayName for o in vm.organizations" data-container="body"
                                selectpicker required>
                            <option value="" selected>Select Organization</option>
                        </select>
                        <span class="help-block error-block basic-block">Required</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group"
                         ng-class="{'has-error': vm.createIssuerForm.issuerEmail.$invalid && (vm.createIssuerForm.issuerEmail.$dirty || vm.createIssuerForm.$submitted)}">
                        <label for="issuerEmail">Issuer Email</label>
                        <input type="email" class="form-control" id="issuerEmail" name="issuerEmail"
                               placeholder="Issuer email" ng-model="vm.modalIssuer.email" required>
                        <span class="help-block error-block basic-block"
                              ng-show="vm.createIssuerForm.issuerEmail.$error.required">This field is required!</span>
                        <span class="help-block error-block basic-block"
                              ng-show="vm.createIssuerForm.issuerEmail.$error.email">Not valid email!</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="issuerDescription">Description</label>
                        <input id="issuerDescription" type="text" class="form-control"
                               ng-model="vm.modalIssuer.description">
                        </input>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.createIssuer(vm.createIssuerForm.$valid)">Create
            </button>
        </div>
    </form>
</div>