<div class="modal-content">
    <form name="vm.createBadgeForm" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title" id="createBadgeLabel">Create Badge</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <!--<div class="form-group has-feedback"-->
                    <!--ng-class="{'has-error': vm.createBadgeForm.badgename.$invalid && (vm.createBadgeForm.badgename.$dirty || vm.createBadgeForm.$submitted)}">-->
                    <!--<label for="badgeName">Request DisplayName</label>-->
                    <!--<input type="text" class="form-control" id="badgeName" name="badgename" placeholder="Badge Name"-->
                    <!--ng-model="vm.modalBadge.data.displayName" required>-->
                    <!--<span class="help-block error-block basic-block">This field is required!</span>-->
                    <!--</div>-->
                    <div class="form-group"
                         ng-class="{'has-error': vm.createBadgeForm.description.$invalid && (vm.createBadgeForm.description.$dirty || vm.createBadgeForm.$submitted)}">
                        <label for="badgeDescription">Description</label>
                        <input type="text" class="form-control" id="badgeDescription" name="description"
                               placeholder="Description" ng-model="vm.modalBadge.data.description" required>
                        <span class="help-block error-block basic-block">This field is required!</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group"
                         ng-class="{'has-error': vm.createBadgeForm.badgeOrganization.$invalid && (vm.createBadgeForm.badgeOrganization.$dirty || vm.createBadgeForm.$submitted)}">
                        <label for="badgeOrganization">Organization</label>
                        <select id="badgeOrganization" name="badgeOrganization" class="form-control"
                                title="Organization Select" data-style="btn-primary"
                                ng-model="vm.modalBadge.data.gluuAssociatedOrganization"
                                ng-change="vm.onOrganizationSelect(vm.modalBadge.data.gluuAssociatedOrganization)"
                                ng-options="o.dn as o.displayName for o in vm.organizations" data-container="body"
                                selectpicker required>
                            <option value="" selected>Select Organization</option>
                        </select>
                        <span class="help-block error-block basic-block">Required</span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group"
                         ng-class="{'has-error': vm.createBadgeForm.badgeOrganization.$invalid && (vm.createBadgeForm.badgeOrganization.$dirty || vm.createBadgeForm.$submitted)}">
                        <label for="badgeOwner">Owner</label>
                        <select id="badgeOwner" name="badgeOwner" class="form-control" title="Owner Select"
                                data-style="btn-primary" ng-model="vm.modalBadge.data.owner"
                                ng-options="o.dn as o.displayName for o in vm.users" data-container="body" selectpicker
                                required>
                            <option value="" selected>Select Owner</option>
                        </select>
                        <span class="help-block error-block basic-block">Required</span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group"
                         ng-class="{'has-error': vm.createBadgeForm.badgeOrganization.$invalid && (vm.createBadgeForm.badgeOrganization.$dirty || vm.createBadgeForm.$submitted)}">
                        <label for="badgeName">Badge Select</label>
                        <select id="badgeName" name="badgeName" class="form-control" title="badge Select"
                                data-style="btn-primary" ng-model="vm.modalBadge.data.badge"
                                ng-options="o.dn as o.displayName for o in vm.filteredBadges" data-container="body" selectpicker
                                required>
                            <option value="" selected>Select Badges</option>
                        </select>
                        <span class="help-block error-block basic-block">Required</span>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label for="badgeLogo" class="col-sm-3 control-label">Picture</label>
                <div class="col-sm-9" id="badgeLogo">
                    <div class="userpic"
                         ng-class="{'has-error': vm.modalBadge.noPicture && vm.createBadgeForm.$submitted}">
                        <div class="userpic-wrapper">
                            <img ng-src="{{ vm.modalBadge.picture }}" ng-click="vm.uploadPicture()">
                        </div>
                        <i class="ion-ios-close-outline" ng-click="vm.removePicture()"
                           ng-if="!vm.modalBadge.noPicture"></i>
                        <a href class="change-userpic" ng-click="vm.uploadPicture()">Change Badge Logo</a>
                        <input type="file" accept="image/*" name="badgePicture" ng-show="ture"
                               ng-model="vm.modalBadge.noPicture" id="uploadBadgeLogo"
                               onchange="angular.element(this).scope().vm.onFileSelect(this.files)" required>
                        <span class="help-block basic-block"
                              ng-show="vm.modalBadge.noPicture && vm.createBadgeForm.$submitted">This field is required!</span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
            <button type="submit" class="btn btn-primary" ng-click="vm.createBadgeRequest(vm.createBadgeForm.$valid)">Create
            </button>
        </div>
    </form>
</div>