<div class="modal-content">
  <form name="vm.createBadgeForm" novalidate>
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
      <h4 class="modal-title" id="createBadgeLabel">Create Badge</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group has-feedback"
               ng-class="{'has-error': vm.createBadgeForm.badgename.$invalid && (vm.createBadgeForm.badgename.$dirty || vm.createBadgeForm.$submitted)}">
            <label for="badgeName">Badge Name</label>
            <input type="text" class="form-control" id="badgeName" name="badgename" placeholder="Badge Name"
                   ng-model="vm.modalBadge.data.displayName" required>
            <span class="help-block error-block basic-block">This field is required!</span>
          </div>
          <div class="form-group"
               ng-class="{'has-error': vm.createBadgeForm.description.$invalid && (vm.createBadgeForm.description.$dirty || vm.createBadgeForm.$submitted)}">
            <label for="badgeDescription">Description</label>
            <input type="text" class="form-control" id="badgeDescription" name="description"
                   placeholder="Description" ng-model="vm.modalBadge.data.description" required>
            <span class="help-block error-block basic-block">This field is required!</span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
      <button type="submit" class="btn btn-primary" ng-click="vm.createBadge(vm.createBadgeForm.$valid)">
        Create
      </button>
    </div>
  </form>
</div>