<div class="modal-content">
  <form name="vm.createBadgeForm" novalidate>
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
      <h4 class="modal-title" id="createBadgeLabel">Badge Information </h4>
    </div>
    <div class="modal-body">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td style="vertical-align: middle"><img src="{{!!vm.badge.userInfo.picture[0] ? vm.badge.userInfo.picture[0] : '/assets/img/theme/no-photo.png'}}" height="70" width="70" class="img-rounded img-circle" alt="image"/></td>
          <td>
            <strong>User</strong>: {{ (vm.badge.userInfo.name | typeof) == 'string' ? vm.badge.userInfo.name : vm.badge.userInfo.name[0] }}
            <br/>
            <strong>Email</strong>: {{ (vm.badge.userInfo.email | typeof) == 'string' ? vm.badge.userInfo.email : vm.badge.userInfo.email[0] }}
            <br/>
            <strong>Web site</strong>: {{ (vm.badge.userInfo.website | typeof) == 'string' ? vm.badge.userInfo.website : vm.badge.userInfo.website[0] }}
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle"><img src="{{vm.badge.badge.image}}" class="img-rounded img-circle" height="70" width="70" alt="image"/></td>
          <td>
            <strong>Badge</strong>: {{vm.badge.badge.name}}
            <br/>
            <strong>Description</strong>: {{vm.badge.badge.description}}
            <br/>
            <strong>Criteria</strong>: {{vm.badge.badge.criteria.narrative}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
    </div>
  </form>
</div>