<div class="modal-content">
  <form name="vm.participantForm" novalidate>
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
      <h4 class="modal-title" id="createProviderLabel">{{vm.modalParticipant.isBtnApprove ? 'Approve' : 'Edit'}} Participant</h4>
    </div>
    <div ng-if="vm.modalParticipant.isBtnApprove" class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.participantForm.federationId.$invalid && (vm.participantForm.federationId.$dirty || vm.participantForm.$submitted)}">
            <label for="orgFed">Federation</label>
            <select class="form-control" id="orgFed" name="federationId" title="Select Federation" selectpicker
                    ng-model="vm.modalParticipant.federationId"
                    ng-options="federation as federation.name for federation in vm.federations" required>
              <option value="">Select Federation</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="!vm.modalParticipant.isBtnApprove" class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.participantForm.participantName.$invalid && (vm.participantForm.participantName.$dirty || vm.participantForm.$submitted)}">
            <label class="control-label" for="orgName">Name</label>
            <input autofocus type="text" class="form-control" id="orgName" name="participantName" title="Please enter the participant name."
                   placeholder="participant name" ng-model="vm.modalParticipant.name" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.participantForm.phoneNo.$invalid && (vm.participantForm.phoneNo.$dirty || vm.participantForm.$submitted)}">
            <label class="control-label" for="orgPhoneNo">Phone No</label>
            <input type="text" class="form-control" id="orgPhoneNo" name="phoneNo"
                   title="Please enter the phone no."
                   placeholder="phone no" ng-model="vm.modalParticipant.phoneNo" ng-required="true" ng-pattern="/\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.participantForm.address.$invalid && (vm.participantForm.address.$dirty || vm.participantForm.$submitted)}">
            <label class="control-label" for="orgAddress">Address</label>
            <input type="text" class="form-control" id="orgAddress" name="address"
                   title="Please enter the Address"
                   placeholder="Address" ng-model="vm.modalParticipant.address" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.participantForm.zipcode.$invalid && (vm.participantForm.zipcode.$dirty || vm.participantForm.$submitted)}">
            <label class="control-label" for="orgZipcode">zipcode</label>
            <input type="text" class="form-control" id="orgZipcode" name="zipcode"
                   title="Please enter the zipcode"
                   placeholder="zipcode" ng-model="vm.modalParticipant.zipcode" ng-required="true" ng-pattern="/(^\d{5}$)|(^\d{5}-\d{4}$)/" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.participantForm.state.$invalid && (vm.participantForm.state.$dirty || vm.participantForm.$submitted)}">
            <label class="control-label" for="orgState">State</label>
            <select name="state" class="form-control" id="orgState" title="Select State" ng-change="vm.stateChanged()"
                    selectpicker required
                    ng-model="vm.modalParticipant.state"
                    ng-options="state as state for state in vm.states">
              <option value="">--- Select State ---</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.participantForm.city.$invalid && (vm.participantForm.city.$dirty || vm.participantForm.$submitted)}">
            <label class="control-label" for="orgCity">City</label>
            <select name="city" class="form-control" id="orgCity" title="Select City" selectpicker required
                    ng-model="vm.modalParticipant.city"
                    ng-options="city as city for city in vm.cities">
              <option value="">--- Select City ---</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.participantForm.type.$invalid && (vm.participantForm.type.$dirty || vm.participantForm.$submitted)}">
            <label class="control-label" for="orgType">Type</label>
            <input type="text" class="form-control" id="orgType" name="type"
                   title="Please enter the type of participant"
                   placeholder="type" ng-model="vm.modalParticipant.type" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.participantForm.description.$invalid && (vm.participantForm.description.$dirty || vm.participantForm.$submitted)}">
            <label class="control-label" for="orgDesc">Description</label>
            <input type="text" class="form-control" id="orgDesc" name="description" title="Please enter description"
                   placeholder="description" ng-model="vm.modalParticipant.description"/>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
      <button type="submit" class="btn btn-primary" ng-click="vm.pushParticipant(vm.participantForm.$valid)">
        {{vm.modalParticipant.isBtnApprove ? 'Approve' : 'Update'}}
      </button>
    </div>
  </form>
</div>