<div class="add-row-editable-table">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group col-md-10" style="padding-left: 0px !important;">
                <input type="text" class="form-control" ng-model="vm.searchValue" ng-change="vm.searchByOwner()" placeholder="Search by owner">
            </div>
            <!--<div class="form-group col-md-2">-->
                <!--<button type="button" class="btn btn-info btn-with-icon" ng-click="vm.searchByOwner()"><i class="ion-ios-search-strong"></i>Search</button>-->
            <!--</div>-->
        </div>
    </div>
</div>
<table style="width: 100%">
    <tr ng-repeat="(key, value) in vm.filteredIssuedBadges">
        <td ng-show="vm.filteredIssuedBadges[key].length">
            <table class="table table-bordered table-hover table-condensed">
                <tr>
                    <td>
                        {{key}}
                    </td>
                </tr>
            </table>
            <table class="table table-bordered table-hover table-condensed">
                <tr>
                    <td class="table-id" style="display: none;">#</td>
                    <td>Logo</td>
                    <td>Badge Name</td>
                    <td>Description</td>
                    <td>Issuer Email</td>
                    <td>Owner</td>
                    <td>Owner Email</td>
                    <td>Status</td>
                    <td>Actions</td>
                </tr>
                <tr ng-repeat="badge in value">
                    <td style="display: none;">
                        {{badge.inum}}
                    </td>
                    <td>
                        <span>
                            <img ng-src="{{ badge.badgeDetails.picture || 'empty'}}" height="20px" width="20px"/>
                        </span>
                    </td>
                    <td>
                        <span>
                            <a target="_blank" ng-href="{{badge.hostedURL}}">
                                {{ badge.badgeDetails.displayName|| 'empty' }}
                            </a>
                        </span>
                    </td>
                    <td>
                        <span>
                            {{ badge.badgeDetails.description|| 'empty' }}
                        </span>
                    </td>
                    <td>
                        <a class="email-link" ng-href="mailto:{{badge.gluuBadgeRequesterDetail.email}}">
                            {{badge.gluuBadgeIssuerDetial.email}}
                        </a>
                    </td>
                    <td>
                        <span>
                            {{ badge.ownerDetails.displayName|| 'empty' }}
                        </span>
                    </td>
                    <td>
                        <a class="email-link" ng-href="mailto:{{badge.ownerDetails.email}}">
                            {{badge.ownerDetails.email}}
                        </a>
                    </td>
                    <td class="select-td">
                        <span editable-select="badge.active" e-name="active" e-form="rowform" e-selectpicker
                              e-ng-options="s.value as s.text for s in vm.statuses">
                          {{ vm.showStatus(badge) }}
                        </span>
                    </td>
                    <td>
                        <form editable-form name="rowform" onbeforesave="vm.updateBadge(badge.inum, $data, badge)"
                              ng-show="rowform.$visible" class="form-buttons form-inline"
                              shown="inserted == badge">
                            <!--<button type="submit" ng-disabled="rowform.$waiting"-->
                            <!--class="btn btn-primary editable-table-button btn-xs">-->
                            <!--Save-->
                            <!--</button>-->
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                    class="btn btn-default editable-table-button btn-xs">
                                Cancel
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <ul class="btn-list clearfix">
                                <li>
                                    <button type="button" class="btn btn-danger btn-icon"
                                            title="Delete" ng-click="vm.openConfirmationDialog(badge.inum, key)">
                                        <i class="ion-android-delete"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>