<div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-6">
        <button class="btn btn-primary" ng-click="vm.openBadgeModal()">Create Badge</button>
      </div>
      <div class="col-md-6">
        <div class="col-md-6">
          <div class="form-group select-page-size-wrap ">
            <label style="margin-top: 7px">Rows on page</label>
          </div>
        </div>
        <div class="col-md-6">
          <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                  ng-model="vm.tablePageSize" ng-options="i for i in [5,10,15,20,25]">
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table" st-safe-src="vm.safeBadges" st-table="vm.badges">
  <thead>
  <tr class="sortable">
    <th st-sort="displayName">Badge Name</th>
    <th st-sort="description">Description</th>
    <th st-sort="active">Status</th>
    <th>Actions</th>
  </tr>
  <tr>
    <th colspan="7"><input st-search="" class="form-control" placeholder="Search Badge" type="text"/></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="badge in vm.badges">
    <td>
            <span editable-text="badge.displayName" e-name="displayName" e-form="rowform" e-required>
                <a class="ellipis" target="_blank" ng-href="{{badge.hostedURL}}">
                    {{ badge.displayName || 'empty' }}
                </a>
            </span>
    </td>
    <td>
            <span class="ellipis" editable-text="badge.description" e-name="description" e-form="rowform" e-required>
                {{ badge.description || 'empty' }}
            </span>
    </td>
    <td class="select-td">
            <span editable-select="badge.active" e-name="active" e-form="rowform" e-selectpicker
                  e-ng-options="s.value as s.text for s in vm.statuses">
              {{ vm.showStatus(badge) }}
            </span>
    </td>
    <td>
      <form editable-form name="rowform" onbeforesave="vm.updateBadge(badge.inum, $data, badge)"
            ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted == badge">
        <ul class="btn-list clearfix">
          <li>
            <button type="submit" ng-disabled="rowform.$waiting"
                    class="btn btn-primary btn-icon" title="Save">
              <i class="glyphicon glyphicon-floppy-disk"></i>
            </button>
          </li>
          <li>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                    class="btn btn-default btn-icon" title="Cancel">
              <i class="ion-android-cancel" ng-click="rowform.$cancel()"></i>
            </button>
          </li>
        </ul>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <ul class="btn-list clearfix">
          <li>
            <button type="button" class="btn btn-primary btn-icon" title="Edit" ng-click="rowform.$show()">
              <i class="ion-edit"></i>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-danger btn-icon" title="Delete"
                    ng-click="vm.openConfirmationDialog(badge.inum)">
              <i class="ion-android-delete"></i>
            </button>
          </li>
        </ul>
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="6" class="text-center">
      <div st-pagination="" st-items-by-page="vm.tablePageSize" st-displayed-pages="5"></div>
    </td>
  </tr>
  </tfoot>
</table>
</div>
