<div class="modal-content">
  <form name="vm.createUserForm" novalidate>
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
      <h4 class="modal-title" id="createUserLabel">{{vm.isInEditMode ? 'Edit' : 'Create'}} User</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.createUserForm.username.$invalid && (vm.createUserForm.username.$dirty || vm.createUserForm.$submitted)}">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" ng-disabled="vm.isInEditMode"
                   placeholder="Username" ng-model="vm.modalUser.username" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" ng-show="!vm.isInEditMode"
               ng-class="{'has-error': vm.createUserForm.password.$invalid && (vm.createUserForm.password.$dirty || vm.createUserForm.$submitted)}">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password"
                   placeholder="Password" ng-model="vm.modalUser.password" ng-required="!vm.isInEditMode"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label for="divUserName">Name</label>
          <div id="divUserName" class="input-group">
            <input id="userFirstName" type="text" class="form-control"
                   placeholder="First Name" ng-model="vm.modalUser.firstName"/>
            <span class="input-group-btn" style="width:5px;"></span>
            <input id="userLastName" type="text" class="form-control"
                   placeholder="Last Name" ng-model="vm.modalUser.lastName"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.createUserForm.email.$invalid && (vm.createUserForm.email.$dirty || vm.createUserForm.$submitted)}">
            <label for="userEmail">Email</label>
            <input type="email" class="form-control" id="userEmail" name="email" ng-disabled="vm.isInEditMode"
                   placeholder="Email" ng-model="vm.modalUser.email" required/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="userRole">Role</label>
            <select class="form-control" id="userRole" title="Select Role" ng-change="vm.roleChanged(vm.modalUser.roleId)" selectpicker required
                    ng-model="vm.modalUser.roleId"
                    ng-options="role._id as role.nameSlug for role in vm.roles">
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div id="divOrganization" class="form-group"
               ng-class="{'has-error': vm.createUserForm.organization.$invalid && (vm.createUserForm.organization.$dirty || vm.createUserForm.$submitted)}"
               ng-show="vm.selectedRole === 'orgadmin'">
            <label for="userOrg">Organization</label>
            <select class="form-control" id="userOrg" name="organization" title="Select Organization" selectpicker
                    ng-required="vm.selectedRole === 'orgadmin'"
                    ng-model="vm.modalUser.organization"
                    ng-options="organization._id as organization.name for organization in vm.organizations">
              <option value="">Select Organization</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.createUserForm.address.$invalid && (vm.createUserForm.address.$dirty || vm.createUserForm.$submitted)}">
            <label class="control-label" for="orgAddress">Address</label>
            <input type="text" class="form-control" id="orgAddress" name="address"
                   title="Please enter the Address"
                   placeholder="Address" ng-model="vm.modalUser.address" ng-required="true"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.createUserForm.zipcode.$invalid && (vm.createUserForm.zipcode.$dirty || vm.createUserForm.$submitted)}">
            <label class="control-label" for="orgZipcode">zipcode</label>
            <input type="text" class="form-control" id="orgZipcode" name="zipcode"
                   title="Please enter the zipcode"
                   placeholder="zipcode" ng-model="vm.modalUser.zipcode" ng-required="true" ng-pattern="/(^\d{5}$)|(^\d{5}-\d{4}$)/" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.createUserForm.state.$invalid && (vm.createUserForm.state.$dirty || vm.createUserForm.$submitted)}">
            <label class="control-label" for="orgState">State</label>
            <select name="state" class="form-control" id="orgState" title="Select State" ng-change="vm.stateChanged()"
                    selectpicker required
                    ng-model="vm.modalUser.state"
                    ng-options="state as state for state in vm.states">
              <option value="">--- Select State ---</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.createUserForm.city.$invalid && (vm.createUserForm.city.$dirty || vm.createUserForm.$submitted)}">
            <label class="control-label" for="orgCity">City</label>
            <select name="city" class="form-control" id="orgCity" title="Select City" selectpicker required
                    ng-model="vm.modalUser.city"
                    ng-options="city as city for city in vm.cities">
              <option value="">--- Select City ---</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.createUserForm.phoneNo.$invalid && (vm.createUserForm.phoneNo.$dirty || vm.createUserForm.$submitted)}">
            <label class="control-label" for="orgPhoneNo">Phone No</label>
            <input type="text" class="form-control" id="orgPhoneNo" name="phoneNo"
                   title="Please enter the phone no."
                   placeholder="phone no" ng-model="vm.modalUser.phoneNo" ng-required="true" ng-pattern="/\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.createUserForm.description.$invalid && (vm.createUserForm.description.$dirty || vm.createUserForm.$submitted)}">
            <label class="control-label" for="orgDesc">Description</label>
            <input type="text" class="form-control" id="orgDesc" name="description" title="Please enter description"
                   placeholder="description" ng-model="vm.modalUser.description"/>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
      <button type="submit" class="btn btn-primary" ng-click="vm.pushUser(vm.createUserForm.$valid)">{{vm.isInEditMode ? 'Update' : 'Create'}}
      </button>
    </div>
  </form>
</div>