<div class="modal-content">
  <form name="vm.createProviderForm" novalidate>
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <em class="ion-ios-close-empty sn-link-close"></em>
      </button>
      <h4 class="modal-title" id="createProviderLabel">{{vm.isInEditMode ? 'Edit' : 'Create'}} Provider</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.createProviderForm.name.$invalid && (vm.createProviderForm.name.$dirty || vm.createProviderForm.$submitted)}">
            <label for="providerName">Name</label>
            <input type="text" class="form-control" id="providerName" name="name" title="Name"
                   placeholder="Name" ng-model="vm.modalProvider.name" ng-required="true">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.createProviderForm.discoveryUrl.$invalid && (vm.createProviderForm.discoveryUrl.$dirty || vm.createProviderForm.$submitted)}">
            <label for="discoveryUrl">Discovery URL</label>
            <input type="text" class="form-control" id="discoveryUrl" name="discoveryUrl" title="Discovery URL"
                   placeholder="URL" ng-model="vm.modalProvider.discoveryUrl" ng-required="true"/>
          </div>
        </div>
      </div>
      <!--<div class="row">
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.createProviderForm.clientId.$invalid && (vm.createProviderForm.clientId.$dirty || vm.createProviderForm.$submitted)}">
            <label for="clientId">Client ID</label>
            <input type="text" class="form-control" id="clientId" name="clientId" title="Client ID"
                   placeholder="Client ID" ng-model="vm.modalProvider.clientId" ng-required="true">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group"
               ng-class="{'has-error': vm.createProviderForm.clientSecret.$invalid && (vm.createProviderForm.clientSecret.$dirty || vm.createProviderForm.$submitted)}">
            <label for="clientSecret">Client Secret</label>
            <input type="text" class="form-control" id="clientSecret" name="clientSecret" title="Client Secret"
                   placeholder="Client Secret" ng-model="vm.modalProvider.clientSecret" ng-required="true"/>
          </div>
        </div>
      </div>-->
      <!--<div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" title="Username"
                   placeholder="Username" ng-model="vm.modalProvider.username"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" id="password" name="password" title="Password"
                   placeholder="Password" ng-model="vm.modalProvider.password"/>
          </div>
        </div>
      </div>-->
      <div class="row">
        <div class="col-md-12">
          <div id="divOrganization" class="form-group"
               ng-class="{'has-error': vm.createProviderForm.organization.$invalid && (vm.createProviderForm.organization.$dirty || vm.createProviderForm.$submitted)}"
               ng-show="vm.userRole === 'admin'">
            <label for="userOrg">Organization</label>
            <select class="form-control" id="userOrg" name="organization" title="Select Organization" selectpicker
                    ng-required="vm.userRole === 'admin'"
                    ng-model="vm.modalProvider.organizationId"
                    ng-options="organization._id as organization.name for organization in vm.organizations">
              <option value="">Select Organization</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
      <button type="submit" class="btn btn-primary" ng-click="vm.pushProvider(vm.createProviderForm.$valid)">
        {{vm.isInEditMode ? 'Update' : 'Create'}}
      </button>
    </div>
  </form>
</div>