<div class="widgets">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div ba-panel ba-panel-class="with-scroll">
        <div class="add-row-editable-table">
          <button class="btn btn-primary" ng-click="vm.openProviderModal(null)">Create Provider</button>
        </div>

        <table st-safe-src="vm.providers" st-table="vm.displayedCollection" class="table table-hover table-condensed">
          <thead>
          <tr class="sortable">
            <td class="table-id" st-sort="id" st-sort-default="true" style="display: none;">#</td>
            <th st-sort="name">Name</th>
            <th st-sort="url">URL</th>
            <th st-sort="clientId" style="max-width: 250px;">Client ID</th>
            <th st-sort="redirectUri" style="max-width: 250px;">Redirect URI</th>
            <th st-sort="organization.name">Organization</th>
            <th></th>
            <th>Actions</th>
          </tr>
          <tr>
            <th style="display: none;"></th>
            <th colspan="7"><input st-search="" placeholder="Search" class="input-sm form-control search-input"
                       type="search"/></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="provider in vm.displayedCollection track by $index">
            <td style="display: none;"></td>
            <td>
              {{provider.name}}
            </td>
            <td>
              {{provider.url}}
            </td>
            <td class="ellipis" style="max-width: 250px;" title="{{provider.clientId}}">
              {{provider.clientId}}
            </td>
            <td class="ellipis" style="max-width: 250px;" title="{{provider.redirectUri}}">
              {{provider.redirectUri}}
            </td>
            <td>
              {{provider.organization.name}}
            </td>
            <td>
              <input type="checkbox" title="Is Approved" disabled ng-checked="provider.isApproved"/>
            </td>
            <td>
              <div class="buttons" ng-show="!rowform.$visible">
                <button style="margin: 0px 5px;" class="btn btn-primary btn-icon"
                        ng-click="vm.openProviderModal(provider)" title="Edit"><i class="ion-edit"></i></button>
                <button style="margin: 0px 5px;" class="btn btn-danger btn-icon"
                        ng-click="vm.removeProvider(provider._id)" title="Delete"><i class="ion-android-delete"></i></button>
                <button style="margin: 0px 5px;" class="btn btn-warning btn-icon" ng-show="!provider.isApproved && !provider.isVerified"
                        ng-click="vm.verifyProvider(provider)" title="Verify"><i class="ion-android-warning"></i></button>
                <button style="margin: 0px 5px;" class="btn btn-success btn-icon" ng-show="!provider.isApproved && vm.userRole === 'admin'"
                        ng-click="vm.approveProvider(provider._id)" title="Approve"><i class="ion-android-checkmark-circle"></i></button>
              </div>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="7" class="text-center">
              <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>